.root {
    background-color: #fef5da;
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: 991px;
    overflow: hidden;
    width: 2025px;
}
.rect {
    display: flex;
    justify-content: flex-start;
    position: relative;
    background-color: #fef5da;
    box-shadow: 0px 16px 66px -53px rgba(69, 52, 1, 0.2980392157);
    height: 120px;
    width: 100%;
}
.image {
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: flex-start;
    height: 59px;
    width: 59px;
    margin-top: -97px;
    margin-right: 340px;
    margin-bottom: 902px;
    margin-left: 1176px;
}
.medium_title {
    display: flex;
    position: relative;
    color: #59564d;
    font: 700 25px/1.36 "Nunito", Helvetica, Arial, serif;
    height: 34px;
    width: 214px;
    margin-top:-945px;
    margin-left: 1259px;
}
.rect1 {
    display: flex;
    position: relative;
    background-color: #fef5da;
    height: 10px;
    width: 292px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0;
    margin-left: 0;
    box-shadow: 16px 0px 66px -53px rgba(69, 52, 1, 0.2980392157);
}
.rect2 {
    display: flex;
    position: relative;
    background-color: #fef5da;
    height: 10px;
    width: 292px;
    margin-top: 0;
    margin-right: 1291px;
    margin-bottom: 871px;
    margin-left: 0;
    box-shadow: 0px 12px 66px -53px rgba(124, 124, 124, 0.2470588235);
}
.rect3 {
    display: flex;
    position: relative;
    background-color: #f9b891;
    border-radius: 24px 24px 24px 24px;
    bottom: 363px;
    height: 323px;
    left: 324px;
    right: 404px;
    top: -690px;
    width: 847px;
}
.subtitle {
    bottom: auto;
    color: #664938;
    font: 800 20px/1.35 "Nunito", Helvetica, Arial, serif;
    height: 27px;
    left: 372px;
    display: flex;
    position: relative;
    right: auto;
    bottom: 1010px;
    width: 81px;
}
.rect4 {
    background-color: #ffbc94;
    bottom: 620px;
    height: 4px;
    left: 324px;
    display: flex;
    position: relative;
    right: 404px;
    bottom: 1020px;
    width: 847px;
}
.info {
    bottom: auto;
    color: #664938;
    display: flex;
    font: 800 12px/1.33 "Nunito", Helvetica, Arial, serif;
    height: 16px;
    justify-content: flex-end;
    left: 382px;
    display: flex;
    position: relative;
    right: auto;
    text-align: right;
    bottom: 980px;
    width: 22px;
}
.info1 {
    bottom: auto;
    color: #664938;
    display: flex;
    font: 800 12px/1.33 "Nunito", Helvetica, Arial, serif;
    height: 16px;
    justify-content: flex-end;
    left: 382px;
    display: flex;
    position: relative;
    right: auto;
    text-align: right;
    bottom: 950px;
    width: 22px;
 }
.info2 {
    bottom: auto;
    color: #664938;
    display: flex;
    font: 800 12px/1.33 "Nunito", Helvetica, Arial, serif;
    height: 16px;
    justify-content: flex-end;
    left: 382px;
    display: flex;
    position: relative;
    right: auto;
    text-align: right;
    bottom: 920px;
    width: 22px;
 }
.info3 {
    bottom: auto;
    color: #664938;
    display: flex;
    font: 800 12px/1.33 "Nunito", Helvetica, Arial, serif;
    height: 16px;
    justify-content: flex-end;
    left: 403px;
    display: flex;
    position: relative;
    right: auto;
    text-align: right;
    bottom: 890px;
    width: 8px;
}
.info4 {
    bottom: auto;
    color: #664938;
    font: 800 12px/1.33 "Nunito", Helvetica, Arial, serif;
    height: 16px;
    left: 439px;
    display: flex;
    position: relative;
    right: auto;
    bottom: 878px;
    width: 19px;
}
.info5 {
    bottom: auto;
    color: #664938;
    font: 800 12px/1.33 "Nunito", Helvetica, Arial, serif;
    height: 16px;
    left: 498px;
    display: flex;
    position: relative;
    right: auto;
    bottom: 893px;
    width: 21px;
}
.info6 {
    bottom: auto;
    color: #664938;
    font: 800 12px/1.33 "Nunito", Helvetica, Arial, serif;
    height: 16px;
    left: 559px;
    display: flex;
    position: relative;
    right: auto;
    bottom: 909px;
    width: 23px;
}
.info7 {
    bottom: auto;
    color: #664938;
    font: 800 12px/1.33 "Nunito", Helvetica, Arial, serif;
    height: 16px;
    left: 622px;
    display: flex;
    position: relative;
    right: auto;
    bottom: 925px;
    width: 22px;
}
.info8 {
    bottom: auto;
    color: #664938;
    font: 800 12px/1.33 "Nunito", Helvetica, Arial, serif;
    height: 16px;
    left: 684px;
    display: flex;
    position: relative;
    right: auto;
    bottom: 941px;
    width: 24px;
}
.info9 {
    bottom: auto;
    color: #664938;
    font: 800 12px/1.33 "Nunito", Helvetica, Arial, serif;
    height: 16px;
    left: 748px;
    display: flex;
    position: relative;
    right: auto;
    bottom: 957px;
    width: 19px;
}
.info10 {
    bottom: auto;
    color: #664938;
    font: 800 12px/1.33 "Nunito", Helvetica, Arial, serif;
    height: 16px;
    left: 807px;
    display: flex;
    position: relative;
    right: auto;
    bottom: 973px;
    width: 16px;
}
.info11 {
    bottom: auto;
    color: #664938;
    font: 800 12px/1.33 "Nunito", Helvetica, Arial, serif;
    height: 16px;
    left: 863px;
    display: flex;
    position: relative;
    right: auto;
    bottom: 989px;
    width: 24px;
}
.info12 {
    bottom: auto;
    color: #664938;
    font: 800 12px/1.33 "Nunito", Helvetica, Arial, serif;
    height: 16px;
    left: 927px;
    display: flex;
    position: relative;
    right: auto;
    bottom: 1005px;
    width: 22px;
}
.info13 {
    bottom: auto;
    color: #664938;
    font: 800 12px/1.33 "Nunito", Helvetica, Arial, serif;
    height: 16px;
    left: 989px;
    display: flex;
    position: relative;
    right: auto;
    bottom: 1021px;
    width: 21px;
}
.info14 {
    bottom: auto;
    color: #664938;
    font: 800 12px/1.33 "Nunito", Helvetica, Arial, serif;
    height: 16px;
    left: 1050px;
    display: flex;
    position: relative;
    right: auto;
    bottom: 1037px;
    width: 23px;
}
.info15 {
    bottom: auto;
    color: #664938;
    font: 800 12px/1.33 "Nunito", Helvetica, Arial, serif;
    height: 16px;
    left: 1113px;
    display: flex;
    position: relative;
    right: auto;
    bottom: 1053px;
    width: 22px;
}
.image1 {
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: flex-start;
    bottom: 575px;
    height: 4px;
    left: 422px;
    right: 443px;
    margin-top: -656px;
    width: 709px;
}
.image11 {
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: flex-start;
    bottom: 575px;
    height: 2px;
    left: 422px;
    right: 443px;
    margin-top: 45px;
    height: 4px;
    width: 709px;
 }
.image12 {
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: flex-start;
    bottom: 482px;
    height: 4px;
    left: 422px;
    right: 443px;
    margin-top: -52px;
    width: 709px;
 }
.image13 {
    bottom: 436px;
    height: 4px;
    left: 422px;
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: flex-start;
    right: 443px;
    margin-top: -5px;
    width: 709px;
 }
.cover {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    height: 154px;
    width: 342px;
    margin-top: -150px;
    margin-right: 808px;
    bottom: 437px;
    left: 426px
 }
.cover1 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    height: 154px;
    width: 342px;
    margin-top: -155px;
    margin-right: 808px;
    bottom: 437px;
    left: 768px
 }
.image2 {
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: flex-start;
    bottom: 486px;
    height: 104px;
    left: 425px;
    right: 808px;
    margin-top: -107px;
    width: 342px;
 }
.image21 {
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: flex-start;
    bottom: 486px;
    height: 104px;
    left: 768px;
    right: 466px;
    margin-top: -104px;
    width: 342px;
}
.image3 {
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: flex-start;
    bottom: 544px;
    height: 12px;
    left: 1105px;
    right: 460px;
    margin-top: -10px;
    width: 12px;
}
.rect5 {
    display: flex;
    position: relative;
    background-color: #b3d58f;
    border-radius: 24px 24px 24px 24px;
    bottom: 363px;
    height: 323px;
    left: 1203px;
    right: 50px;
    top: -690px;
    width: 322px;
}
.rect6 {
    display: flex;
    position: relative;
    background-color: #b8db8f;
    bottom: 620px;
    height: 4px;
    left: 1203px;
    right: 50px;
    top: -953px;
    width: 322px;
}
.rect7 {
    display: flex;
    position: relative;
    background-color: #f9b891;
    border-radius: 24px 24px 24px 24px;
    bottom: 50px;
    height: 281px;
    left: 678px;
    right: 50px;
    top: -660px;
    width: 847px;
}
.rect41 {
    display: flex;
    position: relative;
    background-color: #ffbc94;
    bottom: 265px;
    height: 4px;
    left: 678px;
    right: 50px;
    top: -880px;
    width: 847px;
}
.rect8 {
    display: flex;
    position: relative;
    background-color: #fac09a;
    border-radius: 16px 16px 16px 16px;
    bottom: 82px;
    height: 161px;
    left: 1350px;
    right: 81px;
    top: -856px;
    width: 144px;
}
.rect9 {
    display: flex;
    position: relative;
    background-color: #b4d78b;
    border-radius: 24px 24px 24px 24px;
    bottom: 50px;
    height: 281px;
    left: 324px;
    right: 929px;
    top: -1104px;
    width: 322px;
}
.rect61 {
    display: flex;
    position: relative;
    background-color: #b8db8f;
    bottom: 265px;
    height: 4px;
    left: 324px;
    right: 929px;
    top: -1325px;
    width: 322px;
}
.info16 {
    bottom: auto;
    color: #495738;
    font: 900 12px/1.33 "Nunito", Helvetica, Arial, serif;
    height: 16px;
    left: 573px;
    display: flex;
    position: relative;
    right: auto;
    top: -1363px;
    width: 41px;
}
.info21_box {
    bottom: auto;
    height: 22px;
    left: 1072px;
    display: flex;
    position: relative;
    right: auto;
    top: -1751px;
    width: 67px;
}
.info21 {
    color: #664938;
    font: 900 12px/1.33 "Nunito", Helvetica, Arial, serif;
}
}
.info21_span0 {
    font: 900 1em/1.33 "Nunito", Helvetica, Arial, serif;
    top: 5px;
}
.info21_span1 {
    font: 900 1.3333333333em/1.37 "Nunito", Helvetica, Arial, serif;
    top: 10px;
}
.info21_box1 {
    bottom: auto;
    height: 22px;
    left: 1388px;
    display: flex;
    position: relative;
    right: auto;
    top: -1413px;
    width: 105px;
}
.text {
    bottom: auto;
    color: #394030;
    font: 400 14px/1.2 "Nunito", Helvetica, Arial, serif;
    height: 17px;
    left: 368px;
    display: flex;
    position: relative;
    right: auto;
    top: -1357px;
    width: 97px;
}
.info31 {
    bottom: auto;
    color: #4c593a;
    font: 400 10px/1.2 "Nunito", Helvetica, Arial, serif;
    height: 12px;
    left: 564px;
    display: flex;
    position: relative;
    right: auto;
    top: -1370px;
    width: 44px;
}
.info32 {
    bottom: auto;
    color: #4c593a;
    font: 400 10px/1.2 "Nunito", Helvetica, Arial, serif;
    height: 12px;
    left: 570px;
    display: flex;
    position: relative;
    right: auto;
    top: -1340px;
    width: 32px;
}
.text1 {
    bottom: auto;
    color: #394030;
    font: 400 14px/1.2 "Nunito", Helvetica, Arial, serif;
    height: 17px;
    left: 368px;
    display: flex;
    position: relative;
    right: auto;
    top: -1360px;
    width: 73px;
}
.info33 {
    bottom: auto;
    color: #4c593a;
    font: 400 10px/1.2 "Nunito", Helvetica, Arial, serif;
    height: 12px;
    left: 555px;
    display: flex;
    position: relative;
    right: auto;
    top: -1322px;
    width: 56px;
}
.text2 {
    bottom: auto;
    color: #394030;
    font: 400 14px/1.2 "Nunito", Helvetica, Arial, serif;
    height: 17px;
    left: 368px;
    display: flex;
    position: relative;
    right: auto;
    top:-1340px;
    width: 84px;
}
.info34 {
    bottom: auto;
    color: #4c593a;
    font: 400 10px/1.2 "Nunito", Helvetica, Arial, serif;
    height: 12px;
    left: 560px;
    display: flex;
    position: relative;
    right: auto;
    top: -1302px;
    width: 39px;
}
.text3 {
    bottom: auto;
    color: #394030;
    font: 400 14px/1.2 "Nunito", Helvetica, Arial, serif;
    height: 17px;
    left: 368px;
    position: relative;
    display: flex;
    right: auto;
    top: -1320px;
    width: 109px;
}

.rect10 {
    background-color: #fceec3;
    bottom: 783px;
    height: 88px;
    left: 0px;
    display: flex;
    position: relative;
    right: 1291px;
    top: -2100px;
    width: 292px;
}
.subtitle1 {
    bottom: auto;
    color: #59564d;
    font: 400 20px/1.25 "Jua", Helvetica, Arial, serif;
    height: 25px;
    left: 88px;
    display: flex;
    position: relative;
    right: auto;
    top: -2181px;
    width: 46px;
}
.subtitle11 {
    bottom: auto;
    color: #59564d;
    font: 400 20px/1.25 "Jua", Helvetica, Arial, serif;
    height: 25px;
    left: 88px;
    display: flex;
    position: relative;
    right: auto;
    top: -2150px;
    width: 45px;
}
.subtitle12 {
    bottom: auto;
    color: #59564d;
    font: 400 20px/1.25 "Jua", Helvetica, Arial, serif;
    height: 25px;
    left: 88px;
    display: flex;
    position: relative;
    right: auto;
    top: -2025px;
    width: 43px;
}
.subtitle13 {
    bottom: auto;
    color: #59564d;
    font: 400 20px/1.25 "Jua", Helvetica, Arial, serif;
    height: 25px;
    left: 88px;
    display: flex;
    position: relative;
    right: auto;
    top: -1993px;
    width: 83px;
}
.subtitle14 {
    bottom: auto;
    color: #59564d;
    font: 400 20px/1.25 "Jua", Helvetica, Arial, serif;
    height: 25px;
    left: 88px;
    display: flex;
    position: relative;
    right: auto;
    top: -1960px;
    width: 76px;
}
.image4 {
    bottom: 924px;
    height: 12px;
    left: 1450px;
    display: flex;
    position: relative;
    right: 74px;
    top: -2582px;
    width: 20px;
}
.subtitle2 {
    bottom: auto;
    color: #495738;
    font: 800 20px/1.35 "Nunito", Helvetica, Arial, serif;
    height: 27px;
    left: 1240px;
    display: flex;
    position: relative;
    right: auto;
    top: -2350px;
    width: 51px;
}
.subtitle21 {
    bottom: auto;
    color: #495738;
    font: 800 20px/1.35 "Nunito", Helvetica, Arial, serif;
    height: 27px;
    left: 372px;
    display: flex;
    position: relative;
    right: auto;
    top: -2060px;
    width: 67px;
}
.subtitle15 {
    bottom: auto;
    color: #59564d;
    font: 400 20px/1.25 "Jua", Helvetica, Arial, serif;
    height: 25px;
    left: 88px;
    display: flex;
    position: relative;
    right: auto;
    top: -2464px;
    width: 49px;
}
.rect81 {
    background-color: #fac09a;
    border-radius: 16px 16px 16px 16px;
    bottom: 82px;
    height: 161px;
    left: 710px;
    display: flex;
    position: relative;
    right: 721px;
    top: -2103px;
    width: 144px;
}
.image5 {
    bottom: 102px;
    height: 16px;
    left: 732px;
    display: flex;
    position: relative;
    right: 829px;
    top: -2139px;
    width: 16px;
}
.image51 {
    bottom: 102px;
    height: 16px;
    left: 743px;
    display: flex;
    position: relative;
    right: 817px;
    top: -2155px;
    width: 16px;
}
.image52 {
    bottom: 102px;
    height: 16px;
    left: 755px;
    display: flex;
    position: relative;
    right: 805px;
    top: -2171px;
    width: 16px;
}
.paragraph {
    bottom: auto;
    color: #664938;
    font: 900 14px/1.42 "Nunito", Helvetica, Arial, serif;
    height: 40px;
    left: 730px;
    display: flex;
    position: relative;
    right: auto;
    top: -2250px;
    width: 79px;
}
.rect82 {
    background-color: #fac09a;
    border-radius: 16px 16px 16px 16px;
    bottom: 82px;
    height: 161px;
    left: 1190px;
    display: flex;
    position: relative;
    right: 241px;
    top: -2378px;
    width: 144px;
}
.paragraph1 {
    bottom: auto;
    color: #664938;
    font: 900 14px/1.42 "Nunito", Helvetica, Arial, serif;
    height: 40px;
    left: 1209px;
    display: flex;
    position: relative;
    right: auto;
    top: -2480px;
    width: 79px;
}
.image53 {
    bottom: 102px;
    height: 16px;
    left: 1210px;
    display: flex;
    position: relative;
    right: 349px;
    top: -2484px;
    width: 16px;
}
.image54 {
    bottom: 102px;
    height: 16px;
    left: 1222px;
    display: flex;
    position: relative;
    right: 337px;
    top: -2500px;
    width: 16px;
}
.image55 {
    bottom: 102px;
    height: 16px;
    left: 1232px;
    display: flex;
    position: relative;
    right: 325px;
    top: -2516px;
    width: 16px;
}
.rect83 {
    background-color: #fac09a;
    border-radius: 16px 16px 16px 16px;
    bottom: 82px;
    height: 161px;
    left: 1030px;
    display: flex;
    position: relative;
    right: 401px;
    top: -2655px;
    width: 144px;
}
.paragraph2 {
    bottom: auto;
    color: #664938;
    font: 900 14px/1.42 "Nunito", Helvetica, Arial, serif;
    height: 40px;
    left: 1050px;
    display: flex;
    position: relative;
    right: auto;
    top: -2757px;
    width: 79px;
}
.image56 {
    bottom: 102px;
    height: 16px;
    left: 1050px;
    display: flex;
    position: relative;
    right: 509px;
    top: -2761px;
    width: 16px;
}
.image57 {
    bottom: 102px;
    height: 16px;
    left: 1062px;
    display: flex;
    position: relative;
    right: 497px;
    top: -2777px;
    width: 16px;
}
.image58 {
    bottom: 102px;
    height: 16px;
    left: 1073px;
    display: flex;
    position: relative;
    right: 485px;
    top: -2792px;
    width: 16px;
}
.rect84 {
    background-color: #fac09a;
    border-radius: 16px 16px 16px 16px;
    bottom: 82px;
    height: 161px;
    left: 870px;
    display: flex;
    position: relative;
    right: 561px;
    top: -2933px;
    width: 144px;
}
.paragraph3 {
    bottom: auto;
    color: #664938;
    font: 900 14px/1.42 "Nunito", Helvetica, Arial, serif;
    height: 40px;
    left: 890px;
    display: flex;
    position: relative;
    right: auto;
    top: -3037px;
    width: 79px;
}
.image59 {
    bottom: 102px;
    height: 16px;
    left: 890px;
    display: flex;
    position: relative;
    right: 669px;
    top: -3038px;
    width: 16px;
}
.image510 {
    bottom: 102px;
    height: 16px;
    left: 902px;
    display: flex;
    position: relative;
    right: 657px;
    top: -3054px;
    width: 16px;
}
.image511 {
    bottom: 102px;
    height: 16px;
    left: 914px;
    display: flex;
    position: relative;
    right: 645px;
    top: -3069px;
    width: 16px;
}
.image6 {
    bottom: 141px;
    height: 42px;
    left: 1401px;
    display: flex;
    position: relative;
    right: 132px;
    top: -3150px;
    width: 42px;
}
.rect11 {
    background-color: #fefbf1;
    border-radius: 20px 20px 20px 20px;
    bottom: 749px;
    height: 72px;
    left: 1133px;
    display: flex;
    position: relative;
    right: 50px;
    top: -3830px;
    width: 400px;
}
.subtitle3 {
    bottom: auto;
    color: #59564d;
    font: 700 18px/1.35 "Nunito", Helvetica, Arial, serif;
    height: 27px;
    left: 1209px;
    display: flex;
    position: relative;
    right: auto;
    top: -3905px;
    width: 120px;
}
.rect12 {
    background-color: #9dd3e9;
    border-radius: 12.0797719955px 12.0797719955px 12.0797719955px 12.0797719955px;
    bottom: 58px;
    box-shadow: 0px 2.4159543514px 0.6039885879px 0px #0d2d3a;
    height: 63px;
    left: 40px;
    display: flex;
    position: relative;
    right: 1331px;
    top: -3259px;
    width: 212px;
}
.paragraph11 {
    bottom: auto;
    color: #0e2e3b;
    font: 900 14.4957256317px/1.2 "Nunito", Helvetica, Arial, serif;
    height: 35px;
    left: 112px;
    letter-spacing: -0.1px;
    display: flex;
    position: relative;
    right: auto;
    top: -3331px;
    width: 111px;
}
.text11 {
    bottom: auto;
    color: #4c4d45;
    font: 400 14px/1.2 "Nunito", Helvetica, Arial, serif;
    height: 17px;
    left: 1285px;
    display: flex;
    position: relative;
    right: auto;
    top: -3850px;
    width: 91px;
}
.text12 {
    bottom: auto;
    color: #4c4d45;
    font: 400 14px/1.2 "Nunito", Helvetica, Arial, serif;
    height: 17px;
    left: 1285px;
    display: flex;
    position: relative;
    right: auto;
    top: -3810px;
    width: 84px;
}
.text13 {
    bottom: auto;
    color: #4c4d45;
    font: 400 14px/1.2 "Nunito", Helvetica, Arial, serif;
    height: 17px;
    left: 1285px;
    display: flex;
    position: relative;
    right: auto;
    top: -3754px;
    width: 108px;
}
.rect13 {
    background-color: #eff2cd;
    border-radius: 8px 8px 8px 8px;
    bottom: 486px;
    height: 40px;
    left: 1233px;
    opacity: 0.5;
    display: flex;
    position: relative;
    right: 302px;
    top: -3849px;
    width: 40px;
}
.rect131 {
    background-color: #eff2cd;
    border-radius: 8px 8px 8px 8px;
    bottom: 422px;
    height: 40px;
    left: 1233px;
    opacity: 0.5;
    display: flex;
    position: relative;
    right: 302px;
    top: -3823px;
    width: 40px;
}
.rect132 {
    background-color: #eff2cd;
    border-radius: 8px 8px 8px 8px;
    bottom: 550px;
    height: 40px;
    left: 1233px;
    opacity: 0.5;
    display: flex;
    position: relative;
    right: 302px;
    top: -3993px;
    width: 40px;
}
.info41 {
    bottom: auto;
    color: #4c4d45;
    font: 900 10px/1.4 "Nunito", Helvetica, Arial, serif;
    height: 14px;
    left: 1312px;
    display: flex;
    position: relative;
    right: auto;
    top: -3843px;
    width: 80px;
}
.subtitle4 {
    bottom: auto;
    color: #664938;
    font: 800 20px/1.35 "Nunito", Helvetica, Arial, serif;
    height: 27px;
    left: 716px;
    display: flex;
    position: relative;
    right: auto;
    top: -3790px;
    width: 77px;
}
.image7 {
    bottom: 182px;
    height: 40px;
    left: 730px;
    display: flex;
    position: relative;
    right: 805px;
    top: -3745px;
    width: 40px;
}
.image71 {
    bottom: 182px;
    height: 40px;
    left: 1210px;
    display: flex;
    position: relative;
    right: 325px;
    top: -3786px;
    width: 40px;
}
.image72 {
    bottom: 182px;
    height: 40px;
    left: 890px;
    display: flex;
    position: relative;
    right: 645px;
    top: -3827px;
    width: 40px;
}
.image73 {
    bottom: 182px;
    height: 40px;
    left: 1050px;
    display: flex;
    position: relative;
    right: 485px;
    top: -3867px;
    width: 40px;
}
.image8 {
    bottom: 434px;
    height: 24px;
    left: 1471px;
    display: flex;
    position: relative;
    right: 80px;
    top: -4133px;
    width: 24px;
}
.image81 {
    bottom: 498px;
    height: 24px;
    left: 1471px;
    display: flex;
    position: relative;
    right: 80px;
    top: -4225px;
    width: 24px;
}
.image82 {
    bottom: 562px;
    height: 24px;
    left: 1471px;
    display: flex;
    position: relative;
    right: 80px;
    top: -4315px;
    width: 24px;
}
.image83 {
    bottom: 494px;
    height: 24px;
    left: 1241px;
    display: flex;
    position: relative;
    right: 310px;
    top: -4275px;
    width: 24px;
}
.image9 {
    bottom: 558px;
    height: 24px;
    left: 1241px;
    display: flex;
    position: relative;
    right: 310px;
    top: -4362px;
    width: 25px;
}
.image10 {
    bottom: 429px;
    height: 25px;
    left: 1241px;
    display: flex;
    position: relative;
    right: 310px;
    top: -4257px;
    width: 24px;
}
.image111 {
    bottom: 915px;
    height: 34px;
    left: 1189px;
    display: flex;
    position: relative;
    right: 353px;
    top: -4777px;
    width: 33px;
}
.image121 {
    bottom: 769px;
    height: 32px;
    left: 1165px;
    display: flex;
    position: relative;
    right: 386px;
    top: -4660px;
    width: 32px;
}
.image74 {
    bottom: 911px;
    height: 40px;
    left: 1100px;
    display: flex;
    position: relative;
    right: 435px;
    top: -4847px;
    width: 40px;
}
.image31 {
    bottom: 937px;
    height: 12px;
    left: 1123px;
    display: flex;
    position: relative;
    right: 442px;
    top: -4884px;
    width: 12px;
}
.image122 {
    bottom: 811px;
    height: 32px;
    left: 36px;
    display: flex;
    position: relative;
    right: 1507px;
    top: -4788px;
    width: 32px;
}
.image123 {
    bottom: 715px;
    height: 32px;
    left: 36px;
    display: flex;
    position: relative;
    right: 1507px;
    top: -4725px;
    width: 32px;
}
.image124 {
    bottom: 619px;
    height: 32px;
    left: 36px;
    display: flex;
    position: relative;
    right: 1507px;
    top: -4665px;
    width: 32px;
}
.image125 {
    bottom: 523px;
    height: 32px;
    left: 36px;
    display: flex;
    position: relative;
    right: 1507px;
    top: -4600px;
    width: 32px;
}
.image126 {
    bottom: 427px;
    height: 32px;
    left: 36px;
    display: flex;
    position: relative;
    right: 1507px;
    top: -4535px;
    width: 32px;
}
.image127 {
    bottom: 331px;
    height: 32px;
    left: 36px;
    display: flex;
    position: relative;
    right: 1507px;
    top: -4469px;
    width: 32px;
}
.image131 {
    bottom: 75px;
    height: 28px;
    left: 55px;
    display: flex;
    position: relative;
    right: 1486px;
    top: -4236px;
    width: 28px;
}
.image14 {
    bottom: 911px;
    height: 41px;
    left: 40px;
    display: flex;
    position: relative;
    right: 1337px;
    top: -5105px;
    width: 199px;
    background: #fef5da;
}

.transparent {
  background: transparent;
}
.dobavrek{
    display: flex;
    position: relative;
    left: 1565px;
    font-size: 80px;
    top: -5190px;
}
.dobavrek1{
    display: flex;
    position: relative;
    left: 1565px;
    font-size: 80px;
    top: -5390px;
}
.dobavrek2{
    display: flex;
    position: relative;
    left: 1565px;
    font-size: 80px;
    top: -5590px;
}
.dobavrek3{
    display: flex;
    position: relative;
    left: 1565px;
    font-size: 80px;
    top: -5795px;
}
.dobavrek4{
    display: flex;
    position: relative;
    left: 1565px;
    font-size: 80px;
    top: -5990px;
}
.rectraxdel{
    background-color: #fceec3;
    width: 4px;
    height:810px;
    display: flex;
    position: relative;
    left: 1550px;
    top: -6755px;
}