.root {
    background-color: #fef5da;
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: 991px;
    overflow: hidden;
    width: auto;
}
.rect {
    background-color: #fef5da;
    bottom: 871px;
    box-shadow: 0px 16px 66px -53px rgba(69, 52, 1, 0.2980392157);
    height: 120px;
    left: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 1583px;
}
.image {
    bottom: 902px;
    height: 59px;
    left: 1184px;
    position: absolute;
    right: 340px;
    top: 30px;
    width: 59px;
}
.medium_title {
    bottom: auto;
    color: #59564d;
    font: 700 25px/1.36 "Nunito", Helvetica, Arial, serif;
    height: 34px;
    left: 1259px;
    position: absolute;
    right: auto;
    top: 25px;
    width: 214px;
}
.rect1 {
    background-color: #fef5da;
    bottom: 0px;
    box-shadow: 16px 0px 66px -53px rgba(69, 52, 1, 0.2980392157);
    height: 871px;
    left: 0px;
    position: absolute;
    right: 1291px;
    top: 120px;
    width: 292px;
}
.rect2 {
    background-color: #fef5da;
    bottom: 871px;
    box-shadow: 0px 12px 66px -53px rgba(124, 124, 124, 0.2470588235);
    height: 120px;
    left: 0px;
    position: absolute;
    right: 1291px;
    top: 0px;
    width: 292px;
}
.rect3 {
    background-color: #f9b891;
    border-radius: 24px 24px 24px 24px;
    bottom: 363px;
    height: 323px;
    left: 332px;
    position: absolute;
    right: 404px;
    top: 305px;
    width: 847px;
}
.subtitle {
    bottom: auto;
    color: #664938;
    font: 800 20px/1.35 "Nunito", Helvetica, Arial, serif;
    height: 27px;
    left: 372px;
    position: absolute;
    right: auto;
    top: 305px;
    width: 81px;
}
.rect4 {
    background-color: #ffbc94;
    bottom: 620px;
    height: 4px;
    left: 332px;
    position: absolute;
    right: 404px;
    top: 367px;
    width: 847px;
}
.info {
    bottom: auto;
    color: #664938;
    display: flex;
    font: 800 12px/1.33 "Nunito", Helvetica, Arial, serif;
    height: 16px;
    justify-content: flex-end;
    left: 389px;
    position: absolute;
    right: auto;
    text-align: right;
    top: 404px;
    width: 22px;
}
.info1 {
    bottom: auto;
    color: #664938;
    display: flex;
    font: 800 12px/1.33 "Nunito", Helvetica, Arial, serif;
    height: 16px;
    justify-content: flex-end;
    left: 389px;
    position: absolute;
    right: auto;
    text-align: right;
    top: 450px;
    width: 22px;
 }
.info2 {
    bottom: auto;
    color: #664938;
    display: flex;
    font: 800 12px/1.33 "Nunito", Helvetica, Arial, serif;
    height: 16px;
    justify-content: flex-end;
    left: 389px;
    position: absolute;
    right: auto;
    text-align: right;
    top: 497px;
    width: 22px;
 }
.info3 {
    bottom: auto;
    color: #664938;
    display: flex;
    font: 800 12px/1.33 "Nunito", Helvetica, Arial, serif;
    height: 16px;
    justify-content: flex-end;
    left: 403px;
    position: absolute;
    right: auto;
    text-align: right;
    top: 545px;
    width: 8px;
}
.info4 {
    bottom: auto;
    color: #664938;
    font: 800 12px/1.33 "Nunito", Helvetica, Arial, serif;
    height: 16px;
    left: 439px;
    position: absolute;
    right: auto;
    top: 574px;
    width: 19px;
}
.info5 {
    bottom: auto;
    color: #664938;
    font: 800 12px/1.33 "Nunito", Helvetica, Arial, serif;
    height: 16px;
    left: 498px;
    position: absolute;
    right: auto;
    top: 574px;
    width: 21px;
}
.info6 {
    bottom: auto;
    color: #664938;
    font: 800 12px/1.33 "Nunito", Helvetica, Arial, serif;
    height: 16px;
    left: 559px;
    position: absolute;
    right: auto;
    top: 574px;
    width: 23px;
}
.info7 {
    bottom: auto;
    color: #664938;
    font: 800 12px/1.33 "Nunito", Helvetica, Arial, serif;
    height: 16px;
    left: 622px;
    position: absolute;
    right: auto;
    top: 574px;
    width: 22px;
}
.info8 {
    bottom: auto;
    color: #664938;
    font: 800 12px/1.33 "Nunito", Helvetica, Arial, serif;
    height: 16px;
    left: 684px;
    position: absolute;
    right: auto;
    top: 574px;
    width: 24px;
}
.info9 {
    bottom: auto;
    color: #664938;
    font: 800 12px/1.33 "Nunito", Helvetica, Arial, serif;
    height: 16px;
    left: 748px;
    position: absolute;
    right: auto;
    top: 574px;
    width: 19px;
}
.info10 {
    bottom: auto;
    color: #664938;
    font: 800 12px/1.33 "Nunito", Helvetica, Arial, serif;
    height: 16px;
    left: 807px;
    position: absolute;
    right: auto;
    top: 574px;
    width: 16px;
}
.info11 {
    bottom: auto;
    color: #664938;
    font: 800 12px/1.33 "Nunito", Helvetica, Arial, serif;
    height: 16px;
    left: 863px;
    position: absolute;
    right: auto;
    top: 574px;
    width: 24px;
}
.info12 {
    bottom: auto;
    color: #664938;
    font: 800 12px/1.33 "Nunito", Helvetica, Arial, serif;
    height: 16px;
    left: 927px;
    position: absolute;
    right: auto;
    top: 574px;
    width: 22px;
}
.info13 {
    bottom: auto;
    color: #664938;
    font: 800 12px/1.33 "Nunito", Helvetica, Arial, serif;
    height: 16px;
    left: 989px;
    position: absolute;
    right: auto;
    top: 574px;
    width: 21px;
}
.info14 {
    bottom: auto;
    color: #664938;
    font: 800 12px/1.33 "Nunito", Helvetica, Arial, serif;
    height: 16px;
    left: 1050px;
    position: absolute;
    right: auto;
    top: 574px;
    width: 23px;
}
.info15 {
    bottom: auto;
    color: #664938;
    font: 800 12px/1.33 "Nunito", Helvetica, Arial, serif;
    height: 16px;
    left: 1113px;
    position: absolute;
    right: auto;
    top: 574px;
    width: 22px;
}
.image1 {
    bottom: 575px;
    height: 4px;
    left: 431px;
    position: absolute;
    right: 443px;
    top: 412px;
    width: 709px;
}
.image11 {
    bottom: 575px;
    height: 2px;
    left: 431px;
    position: absolute;
    right: 443px;
    top: 459px;
    width: 709px;
 }
.image12 {
    bottom: 482px;
    height: 4px;
    left: 431px;
    position: absolute;
    right: 443px;
    top: 505px;
    width: 709px;
 }
.image13 {
    bottom: 436px;
    height: 4px;
    left: 431px;
    position: absolute;
    right: 443px;
    top: 551px;
    width: 709px;
 }
.cover {
    bottom: 437px;
    height: 154px;
    left: 433px;
    position: absolute;
    right: 808px;
    top: 400px;
    width: 342px;
 }
.cover1 {
    bottom: 437px;
    height: 154px;
    left: 775px;
    position: absolute;
    right: 466px;
    top: 400px;
    width: 342px;
 }
.image2 {
    bottom: 486px;
    height: 104px;
    left: 433px;
    position: absolute;
    right: 808px;
    top: 401px;
    width: 342px;
 }
.image21 {
    bottom: 486px;
    height: 104px;
    left: 775px;
    position: absolute;
    right: 466px;
    top: 401px;
    width: 342px;
}
.image3 {
    bottom: 544px;
    height: 12px;
    left: 1111px;
    position: absolute;
    right: 460px;
    top: 435px;
    width: 12px;
}
.rect5 {
    background-color: #b3d58f;
    border-radius: 24px 24px 24px 24px;
    bottom: 363px;
    height: 323px;
    left: 1211px;
    position: absolute;
    right: 50px;
    top: 305px;
    width: 322px;
}
.rect6 {
    background-color: #b8db8f;
    bottom: 620px;
    height: 4px;
    left: 1211px;
    position: absolute;
    right: 50px;
    top: 367px;
    width: 322px;
}
.rect7 {
    background-color: #f9b891;
    border-radius: 24px 24px 24px 24px;
    bottom: 50px;
    height: 281px;
    left: 686px;
    position: absolute;
    right: 50px;
    top: 660px;
    width: 847px;
}
.rect41 {
    background-color: #ffbc94;
    bottom: 265px;
    height: 4px;
    left: 686px;
    position: absolute;
    right: 50px;
    top: 722px;
    width: 847px;
}
.rect8 {
    background-color: #fac09a;
    border-radius: 16px 16px 16px 16px;
    bottom: 82px;
    height: 161px;
    left: 1358px;
    position: absolute;
    right: 81px;
    top: 748px;
    width: 144px;
}
.rect9 {
    background-color: #b4d78b;
    border-radius: 24px 24px 24px 24px;
    bottom: 50px;
    height: 281px;
    left: 332px;
    position: absolute;
    right: 929px;
    top: 660px;
    width: 322px;
}
.rect61 {
    background-color: #b8db8f;
    bottom: 265px;
    height: 4px;
    left: 332px;
    position: absolute;
    right: 929px;
    top: 722px;
    width: 322px;
}
.info16 {
    bottom: auto;
    color: #495738;
    font: 900 12px/1.33 "Nunito", Helvetica, Arial, serif;
    height: 16px;
    left: 573px;
    position: absolute;
    right: auto;
    top: 687px;
    width: 41px;
}
.info21_box {
    bottom: auto;
    height: 22px;
    left: 1072px;
    position: absolute;
    right: auto;
    top: 320px;
    width: 67px;
}
.info21 {
    color: #664938;
    font: 900 12px/1.33 "Nunito", Helvetica, Arial, serif;
}
}
.info21_span0 {
    font: 900 1em/1.33 "Nunito", Helvetica, Arial, serif;
    top: 5px;
}
.info21_span1 {
    font: 900 1.3333333333em/1.37 "Nunito", Helvetica, Arial, serif;
    top: 10px;
}
.info21_box1 {
    bottom: auto;
    height: 22px;
    left: 1388px;
    position: absolute;
    right: auto;
    top: 675px;
    width: 105px;
}
.text {
    bottom: auto;
    color: #394030;
    font: 400 14px/1.2 "Nunito", Helvetica, Arial, serif;
    height: 17px;
    left: 368px;
    position: absolute;
    right: auto;
    top: 748px;
    width: 97px;
}
.info31 {
    bottom: auto;
    color: #4c593a;
    font: 400 10px/1.2 "Nunito", Helvetica, Arial, serif;
    height: 12px;
    left: 564px;
    position: absolute;
    right: auto;
    top: 752px;
    width: 44px;
}
.info32 {
    bottom: auto;
    color: #4c593a;
    font: 400 10px/1.2 "Nunito", Helvetica, Arial, serif;
    height: 12px;
    left: 578px;
    position: absolute;
    right: auto;
    top: 796px;
    width: 32px;
}
.text1 {
    bottom: auto;
    color: #394030;
    font: 400 14px/1.2 "Nunito", Helvetica, Arial, serif;
    height: 17px;
    left: 368px;
    position: absolute;
    right: auto;
    top: 792px;
    width: 73px;
}
.info33 {
    bottom: auto;
    color: #4c593a;
    font: 400 10px/1.2 "Nunito", Helvetica, Arial, serif;
    height: 12px;
    left: 555px;
    position: absolute;
    right: auto;
    top: 840px;
    width: 56px;
}
.text2 {
    bottom: auto;
    color: #394030;
    font: 400 14px/1.2 "Nunito", Helvetica, Arial, serif;
    height: 17px;
    left: 368px;
    position: absolute;
    right: auto;
    top: 836px;
    width: 84px;
}
.info34 {
    bottom: auto;
    color: #4c593a;
    font: 400 10px/1.2 "Nunito", Helvetica, Arial, serif;
    height: 12px;
    left: 570px;
    position: absolute;
    right: auto;
    top: 884px;
    width: 39px;
}
.text3 {
    bottom: auto;
    color: #394030;
    font: 400 14px/1.2 "Nunito", Helvetica, Arial, serif;
    height: 17px;
    left: 368px;
    position: absolute;
    right: auto;
    top: 880px;
    width: 109px;
}
.hero_title_box {
    bottom: auto;
    height: 198px;
    left: 341px;
    position: absolute;
    right: auto;
    top: 100px;
    width: 691px;
}
.hero_title_box1 {
    bottom: auto;
    height: 198px;
    left: 341px;
    position: absolute;
    right: auto;
    top: 135px;
    width: 691px;
}
.hero_title {
    color: #59564d;
    font: 800 56px/1.76 "Nunito", Helvetica, Arial, serif;
}
.hero_title_span0 {
    font: 800 1em/1.76 "Nunito", Helvetica, Arial, serif;
}
.hero_title_span1 {
    font: 700 0.3571428571em/1.76 "Nunito", Helvetica, Arial, serif;
}
.rect10 {
    background-color: #fceec3;
    bottom: 783px;
    height: 88px;
    left: 0px;
    position: absolute;
    right: 1291px;
    top: 120px;
    width: 292px;
}
.subtitle1 {
    bottom: auto;
    color: #59564d;
    font: 400 20px/1.25 "Jua", Helvetica, Arial, serif;
    height: 25px;
    left: 88px;
    position: absolute;
    right: auto;
    top: 135px;
    width: 46px;
}
.subtitle11 {
    bottom: auto;
    color: #59564d;
    font: 400 20px/1.25 "Jua", Helvetica, Arial, serif;
    height: 25px;
    left: 88px;
    position: absolute;
    right: auto;
    top: 225px;
    width: 45px;
}
.subtitle12 {
    bottom: auto;
    color: #59564d;
    font: 400 20px/1.25 "Jua", Helvetica, Arial, serif;
    height: 25px;
    left: 88px;
    position: absolute;
    right: auto;
    top: 415px;
    width: 43px;
}
.subtitle13 {
    bottom: auto;
    color: #59564d;
    font: 400 20px/1.25 "Jua", Helvetica, Arial, serif;
    height: 25px;
    left: 88px;
    position: absolute;
    right: auto;
    top: 515px;
    width: 83px;
}
.subtitle14 {
    bottom: auto;
    color: #59564d;
    font: 400 20px/1.25 "Jua", Helvetica, Arial, serif;
    height: 25px;
    left: 88px;
    position: absolute;
    right: auto;
    top: 610px;
    width: 76px;
}
.image4 {
    bottom: 924px;
    height: 12px;
    left: 1489px;
    position: absolute;
    right: 74px;
    top: 55px;
    width: 20px;
}
.subtitle2 {
    bottom: auto;
    color: #495738;
    font: 800 20px/1.35 "Nunito", Helvetica, Arial, serif;
    height: 27px;
    left: 1251px;
    position: absolute;
    right: auto;
    top: 305px;
    width: 51px;
}
.subtitle21 {
    bottom: auto;
    color: #495738;
    font: 800 20px/1.35 "Nunito", Helvetica, Arial, serif;
    height: 27px;
    left: 372px;
    position: absolute;
    right: auto;
    top: 665px;
    width: 67px;
}
.subtitle15 {
    bottom: auto;
    color: #59564d;
    font: 400 20px/1.25 "Jua", Helvetica, Arial, serif;
    height: 25px;
    left: 88px;
    position: absolute;
    right: auto;
    top: 325px;
    width: 49px;
}
.rect81 {
    background-color: #fac09a;
    border-radius: 16px 16px 16px 16px;
    bottom: 82px;
    height: 161px;
    left: 718px;
    position: absolute;
    right: 721px;
    top: 748px;
    width: 144px;
}
.image5 {
    bottom: 102px;
    height: 16px;
    left: 738px;
    position: absolute;
    right: 829px;
    top: 873px;
    width: 16px;
}
.image51 {
    bottom: 102px;
    height: 16px;
    left: 750px;
    position: absolute;
    right: 817px;
    top: 873px;
    width: 16px;
}
.image52 {
    bottom: 102px;
    height: 16px;
    left: 762px;
    position: absolute;
    right: 805px;
    top: 873px;
    width: 16px;
}
.paragraph {
    bottom: auto;
    color: #664938;
    font: 900 14px/1.42 "Nunito", Helvetica, Arial, serif;
    height: 40px;
    left: 738px;
    position: absolute;
    right: auto;
    top: 817px;
    width: 79px;
}
.rect82 {
    background-color: #fac09a;
    border-radius: 16px 16px 16px 16px;
    bottom: 82px;
    height: 161px;
    left: 1198px;
    position: absolute;
    right: 241px;
    top: 748px;
    width: 144px;
}
.paragraph1 {
    bottom: auto;
    color: #664938;
    font: 900 14px/1.42 "Nunito", Helvetica, Arial, serif;
    height: 40px;
    left: 1218px;
    position: absolute;
    right: auto;
    top: 817px;
    width: 79px;
}
.image53 {
    bottom: 102px;
    height: 16px;
    left: 1218px;
    position: absolute;
    right: 349px;
    top: 873px;
    width: 16px;
}
.image54 {
    bottom: 102px;
    height: 16px;
    left: 1230px;
    position: absolute;
    right: 337px;
    top: 873px;
    width: 16px;
}
.image55 {
    bottom: 102px;
    height: 16px;
    left: 1242px;
    position: absolute;
    right: 325px;
    top: 873px;
    width: 16px;
}
.rect83 {
    background-color: #fac09a;
    border-radius: 16px 16px 16px 16px;
    bottom: 82px;
    height: 161px;
    left: 1038px;
    position: absolute;
    right: 401px;
    top: 748px;
    width: 144px;
}
.paragraph2 {
    bottom: auto;
    color: #664938;
    font: 900 14px/1.42 "Nunito", Helvetica, Arial, serif;
    height: 40px;
    left: 1058px;
    position: absolute;
    right: auto;
    top: 817px;
    width: 79px;
}
.image56 {
    bottom: 102px;
    height: 16px;
    left: 1058px;
    position: absolute;
    right: 509px;
    top: 873px;
    width: 16px;
}
.image57 {
    bottom: 102px;
    height: 16px;
    left: 1070px;
    position: absolute;
    right: 497px;
    top: 873px;
    width: 16px;
}
.image58 {
    bottom: 102px;
    height: 16px;
    left: 1082px;
    position: absolute;
    right: 485px;
    top: 873px;
    width: 16px;
}
.rect84 {
    background-color: #fac09a;
    border-radius: 16px 16px 16px 16px;
    bottom: 82px;
    height: 161px;
    left: 878px;
    position: absolute;
    right: 561px;
    top: 748px;
    width: 144px;
}
.paragraph3 {
    bottom: auto;
    color: #664938;
    font: 900 14px/1.42 "Nunito", Helvetica, Arial, serif;
    height: 40px;
    left: 898px;
    position: absolute;
    right: auto;
    top: 817px;
    width: 79px;
}
.image59 {
    bottom: 102px;
    height: 16px;
    left: 898px;
    position: absolute;
    right: 669px;
    top: 873px;
    width: 16px;
}
.image510 {
    bottom: 102px;
    height: 16px;
    left: 910px;
    position: absolute;
    right: 657px;
    top: 873px;
    width: 16px;
}
.image511 {
    bottom: 102px;
    height: 16px;
    left: 922px;
    position: absolute;
    right: 645px;
    top: 873px;
    width: 16px;
}
.image6 {
    bottom: 141px;
    height: 42px;
    left: 1409px;
    position: absolute;
    right: 132px;
    top: 808px;
    width: 42px;
}
.rect11 {
    background-color: #fefbf1;
    border-radius: 20px 20px 20px 20px;
    bottom: 749px;
    height: 72px;
    left: 1133px;
    position: absolute;
    right: 50px;
    top: 170px;
    width: 400px;
}
.subtitle3 {
    bottom: auto;
    color: #59564d;
    font: 700 18px/1.35 "Nunito", Helvetica, Arial, serif;
    height: 27px;
    left: 1209px;
    position: absolute;
    right: auto;
    top: 180px;
    width: 120px;
}
.rect12 {
    background-color: #9dd3e9;
    border-radius: 12.0797719955px 12.0797719955px 12.0797719955px 12.0797719955px;
    bottom: 58px;
    box-shadow: 0px 2.4159543514px 0.6039885879px 0px #0d2d3a;
    height: 63px;
    left: 40px;
    position: absolute;
    right: 1331px;
    top: 870px;
    width: 212px;
}
.paragraph11 {
    bottom: auto;
    color: #0e2e3b;
    font: 900 14.4957256317px/1.2 "Nunito", Helvetica, Arial, serif;
    height: 35px;
    left: 112px;
    letter-spacing: -0.1px;
    position: absolute;
    right: auto;
    top: 863px;
    width: 111px;
}
.text11 {
    bottom: auto;
    color: #4c4d45;
    font: 400 14px/1.2 "Nunito", Helvetica, Arial, serif;
    height: 17px;
    left: 1293px;
    position: absolute;
    right: auto;
    top: 410px;
    width: 91px;
}
.text12 {
    bottom: auto;
    color: #4c4d45;
    font: 400 14px/1.2 "Nunito", Helvetica, Arial, serif;
    height: 17px;
    left: 1293px;
    position: absolute;
    right: auto;
    top: 474px;
    width: 84px;
}
.text13 {
    bottom: auto;
    color: #4c4d45;
    font: 400 14px/1.2 "Nunito", Helvetica, Arial, serif;
    height: 17px;
    left: 1293px;
    position: absolute;
    right: auto;
    top: 539px;
    width: 108px;
}
.rect13 {
    background-color: #eff2cd;
    border-radius: 8px 8px 8px 8px;
    bottom: 486px;
    height: 40px;
    left: 1241px;
    opacity: 0.5;
    position: absolute;
    right: 302px;
    top: 465px;
    width: 40px;
}
.rect131 {
    background-color: #eff2cd;
    border-radius: 8px 8px 8px 8px;
    bottom: 422px;
    height: 40px;
    left: 1241px;
    opacity: 0.5;
    position: absolute;
    right: 302px;
    top: 529px;
    width: 40px;
}
.rect132 {
    background-color: #eff2cd;
    border-radius: 8px 8px 8px 8px;
    bottom: 550px;
    height: 40px;
    left: 1241px;
    opacity: 0.5;
    position: absolute;
    right: 302px;
    top: 401px;
    width: 40px;
}
.info41 {
    bottom: auto;
    color: #4c4d45;
    font: 900 10px/1.4 "Nunito", Helvetica, Arial, serif;
    height: 14px;
    left: 1320px;
    position: absolute;
    right: auto;
    top: 593px;
    width: 80px;
}
.subtitle4 {
    bottom: auto;
    color: #664938;
    font: 800 20px/1.35 "Nunito", Helvetica, Arial, serif;
    height: 27px;
    left: 726px;
    position: absolute;
    right: auto;
    top: 660px;
    width: 77px;
}
.image7 {
    bottom: 182px;
    height: 40px;
    left: 738px;
    position: absolute;
    right: 805px;
    top: 769px;
    width: 40px;
}
.image71 {
    bottom: 182px;
    height: 40px;
    left: 1218px;
    position: absolute;
    right: 325px;
    top: 769px;
    width: 40px;
}
.image72 {
    bottom: 182px;
    height: 40px;
    left: 898px;
    position: absolute;
    right: 645px;
    top: 769px;
    width: 40px;
}
.image73 {
    bottom: 182px;
    height: 40px;
    left: 1058px;
    position: absolute;
    right: 485px;
    top: 769px;
    width: 40px;
}
.image8 {
    bottom: 434px;
    height: 24px;
    left: 1479px;
    position: absolute;
    right: 80px;
    top: 533px;
    width: 24px;
}
.image81 {
    bottom: 498px;
    height: 24px;
    left: 1479px;
    position: absolute;
    right: 80px;
    top: 469px;
    width: 24px;
}
.image82 {
    bottom: 562px;
    height: 24px;
    left: 1479px;
    position: absolute;
    right: 80px;
    top: 405px;
    width: 24px;
}
.image83 {
    bottom: 494px;
    height: 24px;
    left: 1249px;
    position: absolute;
    right: 310px;
    top: 473px;
    width: 24px;
}
.image9 {
    bottom: 558px;
    height: 24px;
    left: 1248px;
    position: absolute;
    right: 310px;
    top: 409px;
    width: 25px;
}
.image10 {
    bottom: 429px;
    height: 25px;
    left: 1249px;
    position: absolute;
    right: 310px;
    top: 537px;
    width: 24px;
}
.image111 {
    bottom: 915px;
    height: 34px;
    left: 1197px;
    position: absolute;
    right: 353px;
    top: 42px;
    width: 33px;
}
.image121 {
    bottom: 769px;
    height: 32px;
    left: 1165px;
    position: absolute;
    right: 386px;
    top: 190px;
    width: 32px;
}
.image74 {
    bottom: 911px;
    height: 40px;
    left: 1108px;
    position: absolute;
    right: 435px;
    top: 40px;
    width: 40px;
}
.image31 {
    bottom: 937px;
    height: 12px;
    left: 1129px;
    position: absolute;
    right: 442px;
    top: 42px;
    width: 12px;
}
.image122 {
    bottom: 811px;
    height: 32px;
    left: 44px;
    position: absolute;
    right: 1507px;
    top: 148px;
    width: 32px;
}
.image123 {
    bottom: 715px;
    height: 32px;
    left: 44px;
    position: absolute;
    right: 1507px;
    top: 244px;
    width: 32px;
}
.image124 {
    bottom: 619px;
    height: 32px;
    left: 44px;
    position: absolute;
    right: 1507px;
    top: 340px;
    width: 32px;
}
.image125 {
    bottom: 523px;
    height: 32px;
    left: 44px;
    position: absolute;
    right: 1507px;
    top: 436px;
    width: 32px;
}
.image126 {
    bottom: 427px;
    height: 32px;
    left: 44px;
    position: absolute;
    right: 1507px;
    top: 532px;
    width: 32px;
}
.image127 {
    bottom: 331px;
    height: 32px;
    left: 44px;
    position: absolute;
    right: 1507px;
    top: 628px;
    width: 32px;
}
.image131 {
    bottom: 75px;
    height: 28px;
    left: 69px;
    position: absolute;
    right: 1486px;
    top: 888px;
    width: 28px;
}
.image14 {
    bottom: 911px;
    height: 41px;
    left: 47px;
    position: absolute;
    right: 1337px;
    top: 39px;
    width: 199px;
    background: #fef5da;
}

.transparent {
  background: transparent;
}
